section.about
    .about-container.container 
        .about-team
            .about-card.about-card--small
                h2.card-title Про продукт
                p.card-descr--large Довготривале та екологічне зберігання: наше переконання у дії!
                p.card-descr--small Термопакувальник призначений для ефективного та гігієнічного пакування різних продуктів, таких як м’ясо, риба, сири, паштети та інші делікатеси. Цей метод упаковки не лише забезпечує надійний захист продуктів, але й створює естетично привабливий вигляд, який залишає приємне враження у покупців, підкреслюючи високу якість та безпеку їхніх покупок. Крім того, використання термопакувальника сприяє зменшенню відходів та підтримує екологічні стандарти, роблячи цей процес більш екологічною альтернативою.
                img(src="assets/images/blobs1.png", alt="").card-img.card-img-team
            .about-card.about-card--large
                picture.about-team-card-img 
                    source(media="(max-width: 768px)" srcset="assets/images/1.jpg")
                    source(media="(max-width: 1440px)" srcset="assets/images/1.jpg")
                    source(media="(min-width: 1920px)" srcset="assets/images/1.jpg")
                    img(src="assets/images/1.jpg")
        .about-goals
            .about-card.about-card--large
                picture.about-goals-card-img 
                    source(media="(max-width: 768px)" srcset="assets/images/2.jpg")
                    source(media="(max-width: 1440px)" srcset="assets/images/2.jpg")
                    source(media="(min-width: 1920px)" srcset="assets/images/2.jpg")
                    img(src="assets/images/2.jpg")
            .about-card.about-card--small
                h2.card-title Інноваційний пареровий захист
                p.card-descr--small Використовуючи двокомпонентний папір із комбінацією целюлози та тонкого шару плівки, який піддається термічному притисканню, ми створюємо матеріал, що ефективно утворює бар'єр для запобігання розповсюдженню запахів, забруднень та навіть рідин під час транспортування придбаних товарів після візиту в магазин. .
                p.card-descr--small Цей інноваційний папір не лише зберігає продукти безпечними, але й забезпечує додатковий рівень захисту та зручності під час їх транспортування та зберігання.    
                img(src="assets/images/blobs2.png", alt="").card-img.card-img-goals
            