section#conditions.conditions-main 
  .conditions-main__inner.container 
    .conditions-top 
      h3.conditions-title Умови придбання
      .standard-btn.conditions-btn
          a.btn-link.calculator-link калькулятор розстрочки
            .btn-svg
              .btn-arrow
                +svg ('animated-arrow')
              .btn-circle
                +svg ('animated-circle')
    .conditions-list 
      .conditions-card
        .conditions-card__inner
          .conditions-card-img
            img(src="assets/images/conditions1.png", alt="")
          .conditions-card-text 
            h4.conditions-card__title Повна оплата 100%
            p.conditions-card__description Розстрочка можлива до 24 місяців с першим внеском не менше 50% . Розрахувати розстрочку ви можете в калькуляторі заповнючи поля.
      .conditions-card
        .conditions-card__inner 
          .conditions-card-img
            img(src="assets/images/conditions2.png", alt="")
          .conditions-card-text 
            h4.conditions-card__title Розстрочка до 24 міс
            p.conditions-card__description Розстрочка можлива до 24 місяців с першим внеском не менше 50% . Розрахувати розстрочку ви можете в калькуляторі заповнючи поля.
      .conditions-card 
        .conditions-card__inner
          .conditions-card-img
            img(src="assets/images/conditions3.png", alt="")
          .conditions-card-text 
            h4.conditions-card__title Кредит на 9 років
            p.conditions-card__description Розстрочка можлива до 24 місяців с першим внеском не менше 50% . Розрахувати розстрочку ви можете в калькуляторі заповнючи поля.


