section#documents.documents 
    .documents-container.container  
        .documents-top 
            h3.documents-title(data-animated-title) Документи
        .documents-list
            a(href="#" target="_blank").documents-card
                .documents-card-text 
                    span.documents-card__title Патент
                    .documents-card__svg
                        +svg('arrow')
                span.documents-size 0.27 Mb
            

