section.donation
    .donation-container.container 
        .donation-inner
            .donation-support 
                .donation-support__text
                    .donation-support__text-title(data-animated-title) Долучитись
                    .donation-support__text-descr-large Ми віримо, що наше суспільство може робити неймовірні речі
                    .donation-support__text-descr Тисячи людей надаючи посильну допомогу можуть покращити умови життя сотням постраждалих. То ж ми вдячні за будь яку допомогу.                     
                .donation-support__progress
                    .donation-support__progress-top 
                        span.donation-support__progress-total Всього зібрано:
                        .donation-support__progress-update 
                            span.donation-support__progress-update--text Останнє оновлення:
                            span.donation-support__progress-update--date 01.08.22
                    .donation-support__progress-bottom 
                        .donation-support__progress-line
                            .donation-support__progress-line-updated
                        span.donation-support__progress-amount $ 123 456

            .donation-links 
                img(src="assets/images/coat-of-arms.png", alt="") 
                .donation-links-container 
                    h4.donation-links__title Також, закликаємо до співпраці органи державної влади, інші благодійні фонди, бізнесменів та всіх небайдужих громадян.
                    .donation-links-list 
                        .donation-links-card 
                            a(href="#").donation-link.donation-link--mono
                                +svg('mono')
                        .donation-links-card
                            a(href="#").donation-link.donation-link--privat 
                                +svg('privat')
                        .donation-links-card
                            a(href="#").donation-link.donation-link--paypal 
                                +svg('paypal')
                img(src="assets/images/coat-of-arms.png", alt="")
                .donation-links-list.donation-links-list-mobile 
                        .donation-links-card 
                            a(href="#").donation-link.donation-link--mono
                                +svg('mono')
                        .donation-links-card
                            a(href="#").donation-link.donation-link--privat 
                                +svg('privat')
                        .donation-links-card
                            a(href="#").donation-link.donation-link--paypal 
                                +svg('paypal')
            .donation-list 
                .donation-card 
                    h5.donation-card__title Переказ по Україні
                    .donation-card__details-container
                        .donation-card__details
                            p.donation-card__details-text БЛАГОДІЙНА ОРГАНІЗАЦІЯ "БЛАГОДІЙНИЙ ФОНД "ХАТИНКА"
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold ЄДРПОУ:
                            p.donation-card__details-text 37079254
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold UAH:
                            button.donation-card__details-text-container
                                p.donation-card__details-text UA573510050000026000879148170
                                +svg('copy')
                .donation-card 
                    h5.donation-card__title SWIFT переказ EUR
                    .donation-card__details-container
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold EUR:
                            button.donation-card__details-text-container
                                p.donation-card__details-text UA853510050000026005879148175
                                +svg('copy')
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold SWIFT-код:
                            p.donation-card__details-text KHABUA2K
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold Банк-посередник:
                            p.donation-card__details-text BNP PARIBAS SA Paris, France
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold SWIFT-код:
                            p.donation-card__details-text BNPAFRPP
                .donation-card 
                    h5.donation-card__title SWIFT переказ USD
                    .donation-card__details-container
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold USD:
                            button.donation-card__details-text-container
                                p.donation-card__details-text UA673510050000026006879148174
                                +svg('copy')
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold SWIFT-код:
                            p.donation-card__details-text KHABUA2K
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold Банк-посередник:
                            p.donation-card__details-text BNP PARIBAS U.S.A.
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold SWIFT-код:
                            p.donation-card__details-text BNPAUS3N
                .donation-card 
                    h5.donation-card__title SWIFT переказ GBP
                    .donation-card__details-container
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold GBP:
                            button.donation-card__details-text-container
                                p.donation-card__details-text UA80351005000004879149948
                                +svg('copy')
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold SWIFT-код:
                            p.donation-card__details-text KHABUA2K
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold Банк-посередник:
                            p.donation-card__details-text CITYBANK NA, London, Great Britain
                        .donation-card__details
                            p.donation-card__details-text.donation-card__details-text--bold SWIFT-код:
                            p.donation-card__details-text CITYGB2L

                .donation-card.donation-card--empty 
                    img(src="assets/images/coat-of-arms.png", alt="").donation-card--empty__img
                