section.intro
    .intro-container.container
        .intro-inner__img-wrap
            img(src="assets/images/hero.jpg", alt="") 
        .intro-inner__text
            h1.intro-inner__text-title(data-animated-title) Термопакувальник
            p.intro-inner__text-description «Відкрийте новий рівень упаковки з нашим Термопакувальником "Альфа". Забезпечте ефективність та точність упаковки за допомогою передових технологій.»
            .intro-down 
                a(href="#")
                    +svg ('arrow')
    .intro-inner__video
        video(src="assets/images/video/hero.mp4" poster="assets/images/poster2.jpg" width="100%" height="100%" controls="true" loop playsinline)         