section#location.location-main
  .location-main__inner.container
    .location-bottom
      .location-bottom__left 
        h3.location-bottom__left-header Розташування комплексу
        p.location-bottom__left-descr У шаленому і швидкому ритмі сучасного міського життя  ми майже не маємо вільного часу
      .location-bottom__right
        .progress-line__container
          .line
            .animated-car
              picture.animated-car-pic 
                img(src="assets/images/car-large.png", alt="") 
          .progress-line__inner    
            +svg('leaf')
            .progress-line__circles-wrap
              .progress-line__circle1.progress-line__circle--empty
                .progress-line__circle2
                  .progress-line__circle3
            span.progress-line__destination Romankiv village
          .progress-line__inner    
            .progress-line__time 
              span.progress-line__time-digit 5
              span.progress-line__time-minutes хв</br>на авто
            .progress-line__circles-wrap
              .progress-line__circle1
                .progress-line__circle2
                  .progress-line__circle3
            span.progress-line__destination Мегамаркет
          .progress-line__inner    
            .progress-line__time 
              span.progress-line__time-digit 12
              span.progress-line__time-minutes хв</br>на авто   
            .progress-line__circles-wrap
              .progress-line__circle1
                .progress-line__circle2
                  .progress-line__circle3
            span.progress-line__destination парк Феофанія
          .progress-line__inner    
            .progress-line__time 
              span.progress-line__time-digit 20
              span.progress-line__time-minutes хв</br>на авто
            .progress-line__circles-wrap
              .progress-line__circle1
               .progress-line__circle2
                .progress-line__circle3
            span.progress-line__destination Київ
        
        
        
