.map-main 
    .map-wrapper
        #map.map 
    .map-navigation
        h3.map-navigation__header Інфраструктура
        .map-navigation__wrap
            .map-navigation__main
                //- .map-navigation__item
                //-     button.map-navigation__button.js-button-map-navigation(data-type="school")
                //-         +svg ('school')
                //-         span Школи
                //- .map-navigation__item
                //-     button.map-navigation__button.js-button-map-navigation(data-type="kindergarden")
                //-         +svg ('kindergarden')
                //-         span Дитячий садок
                //- .map-navigation__item
                //-     button.map-navigation__button.js-button-map-navigation(data-type="hospitals")
                //-         +svg ('pharmacy')
                //-         span Медицина
                //- .map-navigation__item
                //-     button.map-navigation__button.js-button-map-navigation(data-type="recreation")
                //-         +svg ('bench')
                //-         span Місця для відпочинку
                //- .map-navigation__item
                //-     button.map-navigation__button.js-button-map-navigation(data-type="dinning")
                //-         +svg ('dinning')
                //-         span Кафе/ресторани
            .map-navigation__markers-wrap
                .map-navigation__markers

            
