section.questions 
    .questions-container.container  
        .questions-top 
            h3.questions-title(data-animated-title) FAQ
        .questions-list 
            img(src="/assets/images/sun-house.png", alt="").questions-img
            .questions-card 
                button.questions-card__title Хто ми такі?
                .questions-card__descr-container
                    p.questions-card__descr Термопакувальник - це пристрій, який використовує теплову енергію для упаковки матеріалів чи продуктів. В основному, це використовується для формування, запечатування та захисту упаковки. Термопакувальники можуть використовувати різноманітні технології, такі як термічне притискання, термозварювання, термоформування тощо. У нашому випадку, Термопакувальник "Альфа" призначений для швидкого та ефективного термічного упаковування продуктів чи матеріалів у компактний та безпечний спосіб.
            .questions-card 
                button.questions-card__title Що таке термопакувальник?
                .questions-card__descr-container
                    p.questions-card__descr Термопакувальник - це пристрій, який використовує теплову енергію для упаковки матеріалів чи продуктів. В основному, це використовується для формування, запечатування та захисту упаковки. Термопакувальники можуть використовувати різноманітні технології, такі як термічне притискання, термозварювання, термоформування тощо. У нашому випадку, Термопакувальник "Альфа" призначений для швидкого та ефективного термічного упаковування продуктів чи матеріалів у компактний та безпечний спосіб.
            .questions-card 
                button.questions-card__title Які матеріали можна використовувати з Термопакувальником "Альфа"?
                .questions-card__descr-container
                    p.questions-card__descr Термопакувальник - це пристрій, який використовує теплову енергію для упаковки матеріалів чи продуктів. В основному, це використовується для формування, запечатування та захисту упаковки. Термопакувальники можуть використовувати різноманітні технології, такі як термічне притискання, термозварювання, термоформування тощо. У нашому випадку, Термопакувальник "Альфа" призначений для швидкого та ефективного термічного упаковування продуктів чи матеріалів у компактний та безпечний спосіб.
            .questions-card 
                button.questions-card__title Чи складно налаштовувати та використовувати Термопакувальник "Альфа"?
                .questions-card__descr-container
                    p.questions-card__descr Термопакувальник - це пристрій, який використовує теплову енергію для упаковки матеріалів чи продуктів. В основному, це використовується для формування, запечатування та захисту упаковки. Термопакувальники можуть використовувати різноманітні технології, такі як термічне притискання, термозварювання, термоформування тощо. У нашому випадку, Термопакувальник "Альфа" призначений для швидкого та ефективного термічного упаковування продуктів чи матеріалів у компактний та безпечний спосіб.
            .questions-card 
                button.questions-card__title Яка є різниця між Термопакувальником "Альфа" та іншими аналогічними пристроями на ринку?
                .questions-card__descr-container
                    p.questions-card__descr Термопакувальник - це пристрій, який використовує теплову енергію для упаковки матеріалів чи продуктів. В основному, це використовується для формування, запечатування та захисту упаковки. Термопакувальники можуть використовувати різноманітні технології, такі як термічне притискання, термозварювання, термоформування тощо. У нашому випадку, Термопакувальник "Альфа" призначений для швидкого та ефективного термічного упаковування продуктів чи матеріалів у компактний та безпечний спосіб.
            .questions-card 
                button.questions-card__title Яка є різниця між Термопакувальником "Альфа" та іншими аналогічними пристроями на ринку?
                .questions-card__descr-container
                    p.questions-card__descr Термопакувальник - це пристрій, який використовує теплову енергію для упаковки матеріалів чи продуктів. В основному, це використовується для формування, запечатування та захисту упаковки. Термопакувальники можуть використовувати різноманітні технології, такі як термічне притискання, термозварювання, термоформування тощо. У нашому випадку, Термопакувальник "Альфа" призначений для швидкого та ефективного термічного упаковування продуктів чи матеріалів у компактний та безпечний спосіб.
            .questions-card 
                button.questions-card__title Чи можна користуватися Термопакувальником "Альфа" для упаковки продуктів з різними формами та розмірами?
                .questions-card__descr-container
                    p.questions-card__descr Термопакувальник - це пристрій, який використовує теплову енергію для упаковки матеріалів чи продуктів. В основному, це використовується для формування, запечатування та захисту упаковки. Термопакувальники можуть використовувати різноманітні технології, такі як термічне притискання, термозварювання, термоформування тощо. У нашому випадку, Термопакувальник "Альфа" призначений для швидкого та ефективного термічного упаковування продуктів чи матеріалів у компактний та безпечний спосіб.
            .questions-card 
                button.questions-card__title Які переваги отримає мій бізнес використовуючи Термопакувальник "Альфа" в порівнянні з іншими методами упаковки?
                .questions-card__descr-container
                    p.questions-card__descr Термопакувальник - це пристрій, який використовує теплову енергію для упаковки матеріалів чи продуктів. В основному, це використовується для формування, запечатування та захисту упаковки. Термопакувальники можуть використовувати різноманітні технології, такі як термічне притискання, термозварювання, термоформування тощо. У нашому випадку, Термопакувальник "Альфа" призначений для швидкого та ефективного термічного упаковування продуктів чи матеріалів у компактний та безпечний спосіб.
    picture.questions-circles 
        source(media="(max-width: 768px)" srcset="./assets/images/blobs3.png")
        source(media="(max-width: 1440px)" srcset="./assets/images/blobs3.png")
        source(media="(max-width: 1920px)" srcset="./assets/images/blobs3.png")
        source(media="(min-width: 1920px)" srcset="./assets/images/blobs3.png")
        img(src="./assets/images/blobs3.png" data-paralax)
