section.sale-main 
  .sale-main__list
    .sale-card 
      img(src="assets/images/sale1.png", alt="")
      .sale-card__bg
        .sale-card__text 
          h3.sale-card__title Акція! Чорна п’ятниця!
          p.sale-card__descr У шаленому і швидкому ритмі сучасного міського життя  ми майже не маємо вільного часу для занять спортом та якісної підтримки здоров’я. Ми кожного ранку поспішаємо на роботу. 
          .standard-btn.sale-card__btn
            a(href="news.html").btn-link.calculator-link Детальніше
            .btn-svg
              .btn-arrow
                +svg ('arrow-white')
              .btn-circle
                +svg ('circle-white')
    .sale-card 
      img(src="assets/images/sale2.png", alt="")
      .sale-card__bg
        .sale-card__text 
          h3.sale-card__title Акція! Чорна п’ятниця!
          p.sale-card__descr У шаленому і швидкому ритмі сучасного міського життя  ми майже не маємо вільного часу для занять спортом та якісної підтримки здоров’я. Ми кожного ранку поспішаємо на роботу. 
          .standard-btn.sale-card__btn
            a(href="news.html").btn-link.calculator-link Детальніше
            .btn-svg
              .btn-arrow
                +svg ('arrow-white')
              .btn-circle
                +svg ('circle-white')
    .sale-card 
      img(src="assets/images/sale3.png", alt="")
      .sale-card__bg
        .sale-card__text 
          h3.sale-card__title Акція! Чорна п’ятниця!
          p.sale-card__descr У шаленому і швидкому ритмі сучасного міського життя  ми майже не маємо вільного часу для занять спортом та якісної підтримки здоров’я. Ми кожного ранку поспішаємо на роботу. 
          .standard-btn.sale-card__btn
            a(href="news.html").btn-link.calculator-link Детальніше
            .btn-svg
              .btn-arrow
                +svg ('arrow-white')
              .btn-circle
                +svg ('circle-white')
    