section.trusted-main 
  .trusted-main__inner.container
    .trusted-main__left
      h2.trusted-main__left-header Нам довіряють
      .trusted-main__left-line
      p.trusted-main__left-descr У шаленому і швидкому ритмі сучасного міського життя  ми майже не маємо вільного часу для занять спортом та якісної підтримки здоров’я. 
    .trusted-main__right
      .trusted-main__right-count
        span.trusted-main__right-count-t 12/52
        .trusted-main__right-count-c
        span.trusted-main__right-count-b таунхаусів продано
      .trusted-main__right-price
        span.trusted-main__right-price-t 1200$
        .trusted-main__right-price-c
        span.trusted-main__right-price-b вартість м2

