section.about
    .about-container.container 
        .about-team
            .about-card.about-card--small
                h2.card-title Про фонд
                p.card-descr--large Наше головне переконання —  тимчасове житло має бути!
                p.card-descr--small Також воно має бути затишним та приємним, та вирішувати всі нагальні потреби людини. Фонд «Хатинка» створює модульні будинки,  які виконують функцію тимчасового житла, доки оселю не відновлять чи не побудують нову.
                img(src="assets/images/86C8BC", alt="").card-img.card-img-team
            .about-card.about-card--large
                picture.about-team-card-img 
                    source(media="(max-width: 768px)" srcset="assets/images/team-mob.jpg")
                    source(media="(max-width: 1440px)" srcset="assets/images/team-mob.jpg")
                    source(media="(min-width: 1920px)" srcset="assets/images/team.jpg")
                    img(src="assets/images/team.jpg")
        .about-goals
            .about-card.about-card--large
                picture.about-goals-card-img 
                    source(media="(max-width: 768px)" srcset="assets/images/goals-mob.jpg")
                    source(media="(max-width: 1440px)" srcset="assets/images/goals-mob.jpg")
                    source(media="(min-width: 1920px)" srcset="assets/images/goals.jpg")
                    img(src="assets/images/goals.jpg")
            .about-card.about-card--small
                h2.card-title Наші задачі:
                ul.card-list
                    li.card-list__item 
                        .card-icon
                            +svg('moon')
                        p.card-list-descr--small Швидко забезпечити людей, що лишилися власної оселі, комфортним житлом.
                    li.card-list__item 
                        .card-icon
                            +svg('star')
                        p.card-list-descr--small Дати можливість людям, які зазнали горя, знову відчути затишок та надію на краще життя.
                    li.card-list__item 
                        .card-icon
                            +svg('trapezium')
                        p.card-list-descr--small Дати людям можливість повернутися до звичних справ, жити на власному подвір‘ї та займатись відновленням своєї оселі.
                    li.card-list__item 
                        .card-icon
                            +svg('ellipse')
                        p.card-list-descr--small Надати можливість тримати гідний рівень життя вже сьогодні. 
                    li.card-list__item 
                        .card-icon
                            +svg('geometry')
                        p.card-list-descr--small Зменшити масштаб гуманітарної катастрофи у звязку із втратою великою кількістю українців базових умов їснування!
                img(src="assets/images/sun-86C8BC", alt="").card-img.card-img-goals  
        .about-info 
            img(src="assets/images/coat-of-arms.png", alt="")
            .about-info__card 
                p.card-descr--large І головне: Хатинки можна встановлювати прямо на подвір‘ях постраждалих людей.
                p.card-descr--small Людина залишається на власній землі, отримує змогу займатися звичайними для себе справами, та відновлювати свою зруйновану оселю і нормальне життя.
            img(src="assets/images/coat-of-arms.png", alt="")

            