.calculator {
  &-link {
    color: $wc !important;
  }
  
  &-overlay  {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10;
    .modal-open {
      visibility: visible;
      opacity: 1;
    }
  }
  
  &-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    padding: 0 110px;
    box-sizing: border-box;
    background-image: url(../images/calculator-bg.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    @include tabletLarge {
      padding: 0 50px;
    }
    @include tablet {
      flex-direction: column;
      height: 100%;
      padding: 114px 50px;
      justify-content: center;
      overflow-y: scroll;
    }
    @include mobile {
      padding: 60px 20px;
      justify-content: flex-start;
    }  
  }
  
  &-popup-left {
    width: 30%;
    height: 500px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 48px 40px;
    align-self: center;
    @include tabletLarge {
      padding: 22px 36px;
      height: 398px;
      width: 33%;
    }
    @include tablet {
      width: 100%;
      height: auto;
      padding: 30px;
    }
    @include mobile {
      padding: 30px 20px;
    }
  }
  
  &-item {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: $wc;
    list-style: inside;
    margin-top: 20px;
    @include tabletLarge {
      font-size: 15px;
    }
     &:first-child {
       margin-top: 0;
     }
  }

  &-popup-right {
    width: 66%;
    height: 500px;
    align-self: center;
    display: flex;
    @include tabletLarge {
      height: 398px;
      width: 63%;
    }
    @include tablet {
      width: 100%;
      margin-top: 50px;
      height: auto;
    }
    @include mobile {
      flex-direction: column;
      margin-top: 30px;
    }
  }

  &-input {
    background: rgba(24, 24, 24, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 50%;
    padding: 50px;
    @include tabletLarge {
      padding: 40px;
      width: 60%;
    }
    @include tablet {
      padding: 30px;
    }
    @include mobile {
      width: 100%;
      padding: 30px 20px;
    }

    label {
      font-family: $default-font;
      font-style: normal; 
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: $wc;
      width: 60%;
      @include tabletLarge {
        font-size: 14px;
      }
    }    
  }

  &-input-field {
    border: none;
    padding: 13px 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 150px;
    text-align: center;
    color: $wc;
    @include tabletLarge {
      width: 96px;
    }
  }

  &-output-field {
    border: none;
    padding: 13px 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 150px;
    text-align: center;
    color: $wc;
    @include tabletLarge {
      width: 96px;
    }

  }

  &-input-range {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.4rem;
    margin-top: 21px;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $wc; 
      cursor: pointer;
    }
  }
  &-input-range__descr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
     span {
      font-family: $default-font;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 130%;
      color: $grey2;
     }
  }

  &-input__title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: $wc;
    margin-bottom: 40px;
    @include tabletLarge {
      font-size: 19px;
      margin-bottom: 20px;
    }
  }

  &-input-cost {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @include tabletLarge {
      margin-bottom: 30px;
    }
  }

  &-input-min-payment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
    @include tabletLarge {
      margin-bottom: 30px;
    }
  }

  &-input-payment-duration {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-result {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tabletLarge {
      padding: 40px;
      width: 40%;
    }
    @include tablet {
      padding: 30px;
    }
    @include mobile {
      width: 100%;
      padding: 30px 20px;
    }

      output {
        font-family: $default-font;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 120%;
        color: $wc;
        &::after {
          content: '$';
        }
        @include tabletLarge {
          font-size: 28px;
        }
        @include mobile {
          font-size: 20px;
        }
      }
  }

  &-result__title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: $wc;
    @include tabletLarge {
      font-size: 19px;
    }
  }

  &-result__descr {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: $wc;
    margin-top: 30px;
    @include tabletLarge {
      margin-top: 20px;
      font-size: 14px;
    }
  }

  &-result__data {
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 72px !important;
    line-height: 110%;
    color: $wc;
    margin-top: 10px;
    @include tabletLarge {
      font-size: 44px !important;
    }
    @include mobile {
      font-size: 34px !important;
    }
  }
  &-result__overal {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: $wc;
    @include tabletLarge {
      font-size: 14px;
    }
    @include mobile {
      margin-top: 20px;
    }
  }

  
}
    
.close-calculator-popup {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  
  @include mobile {
    right: 15px;
    top: 23px;
  }
}
  
.close-calculator-popup:before {
  content: '';
  background-color: $wc;
  position: absolute;
  height: 1px;
  width: 20px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}
  
.close-calculator-popup:after {
  content: '';
  background-color: $wc;
  position: absolute;
  height: 1px;
  width: 20px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
}
  
  