.conditions {
  &-main {
    background-image: url(../images/conditions-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .btn-arrow svg {
      fill: $wc;
      stroke: $wc;
    }
    .btn-arrow::before {
      background-color: $wc;
      transition: width ease-in 0.1s;
    }

    .btn-circle svg {
      stroke: $wc;
    }
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 120px;
    @include tabletLarge {
      padding-top: 80px;
    }
    @include tablet {
      padding-top: 60px;
    }
    @include mobile {
      flex-direction: column;
      padding-top: 60px;
      padding-bottom: 30px;
      align-items: flex-start;
    }
  }

  &-title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    color: $wc;
    opacity: 0;
    @include tabletLarge {
      font-size: 36px;
    }
    @include mobile {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &-btn {
    svg {
      fill: $wc;
    }

  }

  &-list {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    padding-left: 146px;
    padding-right: 146px;
    padding-bottom: 120px;
    @include tabletLarge {
      padding-left: 108px;
      padding-right: 108px;
      padding-bottom: 80px;
    }
    @include tablet {
      padding: 0;
      padding-left: 50px;
      padding-bottom: 60px;
    }
    @include mobile {
      padding-left: 0;
      margin-top: 0;
    }
  }

  &-card {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 75%;
    padding: 45px;
    margin-top: 50px;
    @include tabletLarge {
      padding: 30px;
      margin-top: 30px;
    }
    @include tablet {
      width: 100%;
    }
    @include mobile {
      padding: 30px 20px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(odd) {
      align-self: flex-start;

      & .conditions-card__inner {
        margin-left: -146px;
        @include tabletLarge {
          justify-content: flex-start;
        }
        @include tablet {
          margin-left: -95px;
        }
        @include mobile {
          margin-left: 0;
        }
      }

      & .conditions-card-img {
        margin-right: 123px;
        @include tabletLarge {
          margin-right: 84px;
        }
        @include tablet {
          margin-right: 31px;
        }
        @include mobile {
          margin-right: 0;
          margin-left: -20px;
          width: 260px;
          height: 149px;
          align-self: flex-start;
        }
        & img {

          @include tabletLarge {
            max-height: 200px;
          }
          @include tablet {
            max-height: 150px;
          }
        }
      }
    }

    &:nth-child(even) {
      align-self: flex-end;
      @include tablet {
        align-self: flex-start;
        margin-left: -50px;
      }
      @include mobile {
        align-self: flex-end;
      }

      & .conditions-card__inner {
        margin-right: -146px;
        
        @include tablet {
            margin-right: -95px;
          }
        @include mobile {
          margin-right: 0;
        }
      }

      & .conditions-card-img {
        order: 2;
        @include mobile {
          order: 1;
          width: 260px;
          height: 149px;
          margin-left: -20px;
          align-self: flex-start;
        }

        & img {

          @include tabletLarge {
            max-height: 200px;
          }
          @include tablet {
            max-height: 150px;
          }
        }

      }

      & .conditions-card-text {
        margin-left: 131px;
        @include tablet {
          margin-left: 0;
          padding-right: 60px;
        }
        @include mobile {
          order: 2;
          margin-left: 0;
          padding-right: 0;
        }
      }
    }

    &-text {
      padding-left: 30px;
      border-left: 1px solid $wc;
      width: 50%;
      padding-right: 123px;
      @include tabletLarge {
        padding-right: 84px;
      }
      @include tablet {
        width: 100%;
        padding-right: 30px;
      }
      @include mobile {
        padding-right: 0;
        border-left: none;
        padding: 0;
        margin-top: 30px;
      }
    }

    &__title {
      font-family: $default-font;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      color: $wc;
      @include tabletLarge {
        font-size: 18px;
      }
    }

    &__description {
      font-family: $default-font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: $lightGrey;
      margin-top: 20px;
      @include tabletLarge {
        font-size: 15px;
        margin-top: 10px;
      }
    }
  }

  &-card__inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    @include mobile {
      flex-direction: column;
    }
  }
}



