#id-page-construction .header {
    background: rgba(24, 24, 24, 1);
}

#id-page-construction .header.bg-header{
    background: rgba(24, 24, 24, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#id-page-construction .header.on {
    background-color: $bTitle;
}
.construction {
    display: flex;
    padding-top: var(--header-h);
    justify-content: space-between;
    height: 100vh;
    @include tablet {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }
    

    &-left {
        background-image: url(../images/black-bg.png);
        background-size: cover;
        padding-left: 110px;
        padding-top: 100px;
        width: 35%; 
        overflow-y: scroll;
        @include tabletLarge {
            width: 45%;
            padding: 50px;
        } 
        @include tablet {
            width: 100%;
            overflow: visible;
        }
        @include mobile {    
            padding: 30px 20px;
        }         
    }

    &-title {
        font-family: $default-font;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 110%;
        color: $wc;
        margin-top: 20px;
        @include tabletLarge {
            font-size: 36px;
        } 
        @include tablet {
            font-size: 48px;
        } 
        @include mobile {
            font-size: 24px;
        } 
    }

    &-list {
        display: flex;
        justify-content: flex-start;
        margin-top: 50px;
        width: 85%;
        padding: 50px;
        background: $bTitle;
        border: 2.5px solid rgba(175, 175, 175, 0.1);
        @include tabletLarge {
            padding: 40px;
            margin-top: 40px;
        } 
        @include mobile {
            width: 100%;
            justify-content: space-between;
            margin-top: 30px;
            padding: 20px;
            height: 70px;
            position: relative;
        }
    }

    &-select {
        display: none;
        @include mobile {
            display: block;
            color: $wc;
            background-color: $bTitle;
            border: none;
            -webkit-appearance: none;
        }
        option {
            background-color: #444444;
            color: $wc;
        }
    }

    &-year {
        @include mobile {
            display: none;
            order: 2;
            position: absolute;
            height: 30px;
            overflow: hidden;
            right: 20px;
        }
    }

    &-year-mobile {
        @include mobile {
            order: 2;
        }
    }

    &-year__item {
        display: flex;
        margin-bottom: 20px;
        cursor: pointer;
        span {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;    
            line-height: 120%;
            text-transform: uppercase;
            color: $greyBg;
        }
        &:hover .construction-year__hint {
            opacity: 1;
        }
        &.active .construction-year__hint{
            opacity: 1;
        }
    }

    &-year__hint {
        opacity: 0;
        height: 19px;
        width: 15px;
        margin-right: 10px;
        transition: ease-in-out 0.3s;
    }

    &-month {    
        margin-left: 58px;
        @include mobile {
            display: none;
            margin-left: 0;
            position: absolute;
            height: 30px;
            overflow: hidden;
            left: 20px;
            transition: all ease-in-out 0.5s;
            background-color: #444444;
        }
    }

    &-month__item {
        position: relative;
        margin-bottom: 20px;
        @include tabletLarge {
            margin-bottom: 15px;
        } 
        @include tablet {
            margin-bottom: 20px;
        } 
        &::before {
            content: '';
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-right: 10px solid #444444;
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);
            opacity: 0;
            pointer-events: none;
            transition: all ease-in-out 0.3s;

        }
        
        

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;    
            line-height: 120%;
            color: $greyBg;
            @include tabletLarge {
                font-size: 15px;
            } 
            @include tablet {
                font-size: 18px;
            } 
            @include mobile {
                font-size: 15px;
            } 
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            &::before {
                opacity: 1;   
            }
        }

        &.active {
            &::before {
                opacity: 1;
            }
        }

        &:hover .construction-month__left-hint,
        &:hover .construction-month__right-hint
         {
            opacity: 1;
            pointer-events: auto;
         }

        &.active .construction-month__left-hint,
        &.active .construction-month__right-hint
         {
            opacity: 1;
            pointer-events: auto;
         }
    }

    &-month__left-hint {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        display: block;
        height: 19px;
        width: 15px;
        top: 50%;
        transform: translateY(-50%);
        left: -30px;
        transition: ease-in-out 0.3s;

    }

    &-description-mobile {
        display: none;
        @include mobile {
            display: block;
            width: 100%;
            height: fit-content;
            position: relative;
            margin-top: 15px;
        }  
    }

    &-month__right-hint {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        display: block;
        width: 267px;
        top: -57px;     
        right: -20px;
        transform: translateX(100%);
        padding: 20px 30px;
        background-color: #444444;
        transition: ease-in-out 0.4s;
        @include tabletLarge {
            top: -45px;
        } 
        @include tablet {
            top: -57px;
        } 
        @include mobile {
            transform: translateX(0px);
            top: 0;
            width: 100%;
            position: relative;
            height: 100%;
            right: 0;
            opacity: 1;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -98%);
                width: 0; 
                height: 0; 
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;    
                border-bottom: 10px solid #444444;
            }
        }
        

        p {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 130%;
            color: #FFFFFF;
            @include tabletLarge {
                font-size: 12px;
            } 
            @include tablet {
                font-size: 15px;
            } 
            @include mobile {
                font-size: 12px;
            } 

        }

        // &::before {
        //     content: '';
        //     width: 0;
        //     height: 0;
        //     border: 20px solid transparent;
        //     border-right: 20px solid #444444;
        //     position: absolute;
        //     top: 50%;
        //     left: -30px;
        //     transform: translateY(-50%);
            
        // }
    }

    &-right {
        width: 65%;
        background-color: $greyBg;
        overflow-y: scroll;
        @include tablet {
            width: 100%;
        }
    }
    

    &-right__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 100px 110px;
        @include tabletLarge {
            padding: 50px;
        }
        @include mobile {
            flex-direction: column;
            padding: 30px 20px;
        }

    }

    &-month__card-wrap {
        width: 47.5%;
        margin-bottom: 50px;
        overflow: hidden;
        img {
            transition: all ease-in-out 0.4s;
          }
        &:hover {
            img {
              transform: scale(1.02);
            }
        }
        @include tabletLarge {
            margin-bottom: 30px;
        }
        @include tablet {
            margin-bottom: 50px;
        }
        @include mobile {
            width: 100%;
            margin-bottom: 20px;
        }
        &:nth-last-child(-n+2) {
            margin-bottom: 0;
            @include mobile {
                margin-bottom: 20px;
            }
        }

        &:last-child {
            @include mobile {    
                margin-bottom: 0;
            }
        }

    }

    &-month__card {
        color: #fff;
        display: block;
        position: relative;
        overflow: hidden;  
      }

    &-month__card-text {
        position: absolute;
        bottom: 0;
        padding: 20px 30px;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tabletLarge {
            padding: 14px 20px;
        }
      }

    &-month__card-title {
        font-size: 15px;
        font-weight: 500;
        transition: opacity 0.3s;
        text-transform: capitalize;
        @include tabletLarge {
            font-size: 12px;
        }

    }

    &-month__card-date {
        font-size: 12px;
        font-weight: 500;
        transition: opacity 0.3s;
        position: relative;
        @include tabletLarge {
            font-size: 10px;
        }
        &::before {
            content: '';
            background-image: url(../images/clock.svg);
            width: 12px;
            height: 12px;
            background-position: center;
            background-size: contain;
            position: absolute;
            left: -22px;
            bottom: 0;
            transform: translateY(-50%);
            @include tabletLarge {
                width: 10px;
                height: 10px;
            }
        }
  }
}