.details {
  background-color: $greyBg;
  background-size: cover;
  @include tablet {
    display: none;
  }

  &__inner {
    position: relative;
    max-width: 100%;
    padding-bottom: 120px;
    @include tabletLarge {
      padding-bottom: 80px;
    }
  }
}

.details-header {
  display: flex;
  padding-top: 120px;
  padding-bottom: 80px;
  max-width: 100%;
  justify-content: space-between;
  @include tabletLarge {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  &__title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    color: $bc;
    width: 50%;
    @include tabletLarge {
      font-size: 36px;
    }
  }

  &__quote {
    width: 25%;
  }

  &__quote-commas {
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 130px;
    z-index: 4;
    @include tabletLarge {
      max-width: 100px;
    }
  }

  &__quote-descr {
    position: relative;
    font-family: $default-font;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: $grey;
    z-index: 5;
    @include tabletLarge {
      font-size: 15px;
    }
  }
}

.details-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details-card {
  position: relative;
  height: 500px;
  padding: 40px 50px;
  background-image: url(../images/pattern-white.png);
  @include tabletLarge {
    height: 343px;
    padding: 20px 30px;
  }

  &-img {
    position: absolute;
  }

  &-inner {
    width: 100%;
  }

  &-title {
    width: 75%;
    position: relative;
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: $bTitle;
    padding-bottom: 15px;
    @include tabletLarge {
      font-size: 24px;
    }
  }

  &-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: $bTitle;
  }

  &-description {
    width: 47%;
    margin-top: 16px;
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: $grey2;
    @include tabletLarge {
      font-size: 15px;
      width: 55%;
      margin-top: 20px;
    }
  }
}

.details-card:first-child {
  width: 22%;
  @include tabletLarge {
    width: 20%;
  }
  & .details-card-img {
    bottom: 0;
    left: 0;
    @include tabletLarge {
      max-width: 100%;
    }
  }
}

.details-card:nth-child(2) {
  width: 22%;
  @include tabletLarge {
    width: 25%;
  }
  & .details-card-img {
    bottom: 0;
    right: 0;
    @include tabletLarge {
      max-width: 70%;
    }
  }
}

.details-card:nth-child(3) {
  width: 40%;
  margin-right: 110px;
  @include tabletLarge {
    width: 45%;
    margin-right: 50px;
  }
  & .details-card-img {
    top: 0;
    right: 0;
    @include tabletLarge {
      max-width: 40%;
    }
  }
}

.details-card:nth-child(4) {
  width: 22%;
  margin-left: 110px;
  @include tabletLarge {
    width: 20%;
    margin-left: 50px;
  }
  & .details-card-img {
    bottom: 0;
    right: 0;
  }
}

.details-card:nth-child(5) {
  width: 40%;
  @include tabletLarge {
    width: 45%;
  }
  & .details-card-img {
    bottom: 0;
    right: 0;
    @include tabletLarge {
      max-width: 55%;
    }
  }
}

.details-card:nth-child(6) {
  width: 22%;
  @include tabletLarge {
    width: 25%;
  }
  & .details-card-img {
    bottom: 0;
    right: 0;
  }
}

.details-card:nth-last-child(-n + 3) {
  margin-top: 50px;
  align-self: flex-end;
  @include tabletLarge {
    margin-top: 30px;
  }
}
