.development-video {
  &-main {
    padding-bottom: 120px;
    @include tablet {
      padding-bottom: 60px;
    }
    
  }
    
  &-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 120px;
    @include tabletLarge {
      padding-top: 80px;
    }
    @include tablet {
      padding-top: 60px;
    }
    @include mobile {
      flex-direction: column;
      padding-top: 60px;
      padding-bottom: 20px;
      align-items: flex-start;
    }
  }

  &-title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    color: $bc;
    opacity: 0;
    @include tabletLarge {
      font-size: 36px;
    }
    @include mobile {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
    
  &-link {
    color: $bc !important;
    }

  &-wrap {
    position: relative;
    width: 100%;
    height: 621px;
    display: flex;
    margin-top: 50px;
    @include tabletLarge {
      height: 464px;
    }
    @include tablet {
      height: 673px;
      flex-wrap: wrap;
    }
    @include mobile {
      height: auto;
      margin-top: 0;
    }
  }


  &-month__card-wrap {
    margin-bottom: 50px;
    @include mobile {
        width: 100%;
        margin-bottom: 20px;
    }
    &:nth-last-child(-n+2) {
        margin-bottom: 0;
        @include mobile {
            margin-bottom: 20px;
        }
    }

    &:last-child {
        @include mobile {    
            margin-bottom: 0;
        }
    }

}

&-month__card {
    color: #fff;
    display: block;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    img {
      transition: all ease-in-out 0.4s;
    }
    &:hover {
      img {
        transform: scale(1.02);
      }
    }
    
  }

&-month__card-text {
    position: absolute;
    bottom: 0;
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    @include tabletLarge {
        padding: 14px 20px;
    }
  }

&-month__card-title {
    font-size: 15px;
    font-weight: 500;
    transition: opacity 0.3s;
    @include tabletLarge {
        font-size: 12px;
    }

}

&-month__card-date {
    font-family: $default-font;
    font-size: 12px;
    font-weight: 500;
    transition: opacity 0.3s;
    position: relative;
    @include tabletLarge {
        font-size: 10px;
    }
    &::before {
        content: '';
        background-image: url(../images/clock.svg);
        width: 12px;
        height: 12px;
        background-position: center;
        background-size: contain;
        position: absolute;
        left: -22px;
        top: 0;
        transform: translateY(50%);
        @include tabletLarge {
            width: 10px;
            height: 10px;
        }
    }
}
}
  
  
  .development-video-thumbnails {
      box-sizing: border-box;
      width: 28%;
      height: 100%;
      margin-right: 50px;

      @include tablet {
        margin-right: 0;
        height: 220px;
        width: 100%;
        order: 1;
      }
      // @include mobile {
      //   display: none;
      // }
  
      .swiper-slide {
          cursor: pointer;
          height: 285px;
          @include tablet {
            order: 1;
            height: 217px;
          }
      }
  
      img {
          // max-height: 100%;
          // max-width: 100%;
          height: 285px;
          width: 100%;
          object-fit: cover;
          @include tabletLarge {
            height: 217px;
          }
          
      }
  }
  
  .development-video {
    height: 100%;
    width: 100%;
    border: none;

    &-container {
      position: relative;
      width: 60%;
      height: 100%;
      @include tablet {
        order: 3;
        width: 95%;
        height: 363px;
      }
      @include mobile {
        height: 190px;
        width: 100%;
        margin-top: 40px;
      }

    }
    &__ctr-wrap {
      display: flex;
      flex-direction: column;
      z-index: 12;
      margin-right: 58px;
      @include tablet {
        flex-direction: row;
        width: 100%;
        margin-right: 0;
        order: 2;
      }
      @include mobile {
        margin-top: 20px;
      }
    }
      &__ctr {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          height: 100%;
          @include tablet {
            flex-direction: row;
            height: fit-content;
            width: 99%;
          }
          @include mobile {
            width: 95%;
          }
        }
      &__arrows {
        display: flex;
        flex-direction: column;
        @include tablet {
          transform: rotate(-90deg);
        }
      } 
    
    
      &__arrow {         
        display: inline-flex;
        justify-content: center;
        align-items: center;
        z-index: 12;
        cursor: pointer;
        outline: none !important;
    
        &:focus {
          outline: none !important;
        }
    
          .icon-font {
            display: inline-flex;
          }
      }

      &-prev {
        margin-bottom: 20px;
        @include tablet {
          margin-bottom: 20px;
        }
      }
    
      &__pagination {
        text-align: center;
        width: 70%;
        @include tablet {
          width: 65%;
        }
    
          &.swiper-pagination-progressbar {
            position: relative;
            height: 80%;
            width: 1px;
            display: inline-block;
            opacity: 1;
            background: rgba(0, 0, 0, 0.2);
            margin: 0 5px;
            border-radius: 20px;
            transition: opacity 0.5s, background-color 0.5s, width 0.5s;
            transition-delay: 0.5s, 0.5s, 0s;
            @include tablet {
              width: 80%;
              height: 1px;
            }
          }
    
          > .swiper-pagination-progressbar-fill {
            opacity: 1;
            background: $bc;
            width: 2px;
            transition-delay: 0s;
            @include tablet {
              width: 80%;
              height: 2px;
            }
          }
        }
  }
.camera {

  &-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
    @include tablet {
      order: 4;
      width: 5%;
      padding-bottom: 55px;
      padding-top: 60px;
    }
    @include mobile {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 0;
      padding-top: 0;
      margin-top: 20px;
      width: 100%;
      padding-left: 20px;
    }
  }
  &-btn {
    position: relative;
    transform: rotate(90deg);
    width: max-content;
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #283013;
    padding: 0;
    padding-left: 5px;
    @include tablet {
      font-size: 12px;
    }
    @include mobile {
      transform: rotate(0);
    }

    &::before {
      content: '';
      background-image: url(../images/cam-inactive.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 13px;
      width: 15px;
      position: absolute;
      left: -20px;
    }
    &::after {
      content: '';
      width: 112px;
      height: 1px;
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translate(100%, -50%);
      @include tabletLarge {
        right: -10px;
        width: 50px;
      }
      @include tablet {
        width: 20px;
      }
      @include mobile {
        display: none;
      }
    }
    &:last-child {
      &::after {
        display: none;
      }
    }

  } 
}

.active-camera {
  &::before {
    background-image: url(../images/cam.svg);
  }
}

.poster-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all ease-in 0.3s;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}



    
    
    