.development-progress {
    background-image: url(/src/assets/images/road-map-bg.png);
    background-size: cover;
    height: 420px;

    &__inner {
        max-width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.development-line {
    position: relative;
    display: flex;
    align-items: top;
    max-width: 100%;
    justify-content: space-between;

    &__inner {
        display: flex;
        flex-direction: column;
        max-width: 14%;
    }

    &__mounth {
        font-family: $default-font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 120%;
        color: $wc;
        margin-bottom: 58px;
    }
    

    &__circles-wrap {
        position: relative;
        margin-bottom: 40px;
    }

    &__circle1 {
        position: relative;
        width: 50px;
        height: 50px;
        background-image:
            linear-gradient( rgba(255,255,255,0.2), rgba(255,255,255,0.2)),
            linear-gradient(black, black);
        border-radius: 50%;
        z-index: 1;
    }

    &__circle2 {
        transform: translate(25%, 25%);
        width: 35px;
        height: 35px;
        background-image:
            linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),
            linear-gradient(black, black);
        border-radius: 50%;
        z-index: 1;
    }

    &__circle3 {
        transform: translate(48%, 46%);
        width: 17px;
        height: 17px;
        background-image:
            linear-gradient( rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
            linear-gradient(black, black);
        border-radius: 50%;
        z-index: 1;
    }

    &__descr {
        font-family: $default-font;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: $wc;
    }

    &__dashed-line1 {
        position: absolute;
        width: 86%;
        height: 0;
        top: 50%;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
        transform: translateY(-25px);
    }

    &__dashed-line2 {
        position: absolute;
        width: 52%;
        height: 0;
        top: 50%;
        border-bottom: 1px dashed $wc;
        transform: translateY(-25px);
    }

    &__animated-leaf {
        position: absolute;
        transform: translateY(-75px);
        left: 50%;
        top: 50%;
    }

    &__animated-leaf svg{
        height: 54px;
        width: 42px;
        
    }






}