.documents {
    padding-top: 210px;

    @include tabletLarge {
        padding-top: 150px;
    }

    @include tablet {
        padding-top: 40px;
    }

    @include mobile {
        padding-top: 50px;
    }

    &-container {

    }

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        @include tabletLarge {
            margin-bottom: 20px;
        }

        @include tablet {
            margin-bottom: 15px;
        }

    }

    &-title {
        font-family: $default-font;
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 120%;
        text-transform: uppercase;
        color: $mc1;

        @include tabletLarge {
            font-size: 54px;
        }

        @include tablet {
            font-size: 44px;
        }

        @include mobile {
            font-size: 36px;
        }


    }

    &-list {
        display: flex;
        justify-content: space-between;

        @include tablet {
           flex-direction: column;
        }
    }

    &-card {
        width: 32%;
        border: 2px solid $grey;
        border-radius: 20px;
        padding: 50px;
        text-decoration: none;
        transition: all ease-in-out 0.3s;

        @include tabletLarge {
            padding: 30px;
        }

        @include tablet {
            width: 100%;
            padding: 20px;
            position: relative;
            margin-bottom: 15px;
        }


        &:last-child {
            @include mobile {
                margin-bottom: 0;
            }
        }

        &:hover {
            box-shadow: rgba(100, 100, 111, 0.1) 0px 10px 10px 0px;
        }
    }

    &-card-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;

        @include tabletLarge {
            margin-bottom: 20px;
        }

        @include tablet {
            margin-bottom: 15px;
        }

    }

    &-card__title {
        font-family: $default-font;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
        color: $mc1;
        width: 70%;

        @include tabletLarge {
            font-size: 24px;
        }

        @include mobile {
            font-size: 20px;
            width: 100%;
        }

    }

    &-card__svg {
        width: 34px;
        height: 34px;
        border-bottom: 1px solid $mc;

        @include tabletLarge {
            height: 20px;
            width: 20px;
        }

        @include mobile {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }


        svg {
            width: 34px;
            height: 34px;
            transform: rotate(270deg);

            @include tabletLarge {
                height: 20px;
                width: 20px;
            }
        }
    }

    &-size {
        font-family: $default-font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #36383F;

        @include tabletLarge {
            font-size: 16px;
        }

        @include tablet {
            font-size: 14px;
        }

    }
}