.donation {
  padding-top: 210px;

  @include tabletLarge {
    padding-top: 150px;
  }

  @include tablet {
    padding-top: 40px;
  }

  @include mobile {
    padding-top: 50px;
  }

  &-inner {
    border: 2px solid $grey;
    border-radius: 20px;
    padding: 50px;

    @include tabletLarge {
      padding: 30px;
    }

    @include tablet {
      padding: 20px;
    }
  }

  &-support {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 420px;

    @include tabletLarge {
      height: 350px;
    }

    @include tablet {
      height: 220px;
    }

    @include mobile {
      height: auto;
      flex-direction: column;
    }
  }

  &-support__text {
    width: 33.9%;

    @include tablet {
      width: 52%;
    }

    @include mobile {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &-support__text-title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 120%;
    text-transform: uppercase;
    color: $mc1;
    margin-bottom: 30px;

    @include tabletLarge {
      font-size: 54px;
      margin-bottom: 20px;
    }

    @include tablet {
      font-size: 44px;
      margin-bottom: 15px;
    }

    @include mobile {
      font-size: 36px;
    }
  }

  &-support__text-descr-large {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: $mc1;
    margin-bottom: 30px;

    @include tabletLarge {
      font-size: 24px;
      margin-bottom: 20px;
    }

    @include tablet {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  &-support__text-descr {
    font-family: $default-font;
    color: $mc2;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    @include tabletLarge {
      font-size: 16px;
    }

    @include tablet {
      font-size: 14px;
    }
  }

  &-support__progress {
    width: 61%;
    background: linear-gradient(90deg, #ceeefa 0%, #ffdfaa 100%);
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    @include tablet {
      padding: 20px;
      width: 46%;
    }

    @include mobile {
      width: 100%;
      padding: 20px;
    }
  }

  &-support__progress-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &-support__progress-total {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: $mc1;

    @include tabletLarge {
      font-size: 24px;
    }

    @include tablet {
      font-size: 20px;
    }
  }

  &-support__progress-update {
    display: flex;
    flex-direction: column;
    span {
      font-family: $default-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: right;
      color: $mc2;

      @include tablet {
        font-size: 12px;
      }
    }
  }

  &-support__progress-update--text {
  }

  &-support__progress-update--date {
  }

  &-support__progress-bottom {
  }

  &-support__progress-line {
    height: 5px;
    width: 100%;
    background: $wc;
    border-radius: 10px;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
  }

  &-support__progress-line-updated {
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    width: 1%;
    background: #006b91;
    border-radius: 10px;
    border-radius: 30px;
  }

  &-support__progress-amount {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    color: $mc1;

    @include tabletLarge {
      font-size: 40px;
    }

    @include tablet {
      font-size: 32px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include tabletLarge {
      margin-bottom: 20px;
    }

    @include tablet {
      align-items: flex-start;
    }

    @include mobile {
      align-items: center;
      flex-direction: column;
    }

    img {
      max-width: 278px;

      @include tabletLarge {
        max-width: 190px;
      }

      @include tablet {
        max-width: 100px;
      }

      @include mobile {
        max-width: 68px;
      }
    }
  }

  &-links-container {
    width: 55%;

    @include tabletLarge {
      width: 65%;
    }

    @include tablet {
      width: 60%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &-links__title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: $mc1;
    margin-bottom: 30px;

    @include tabletLarge {
      font-size: 24px;
      margin-bottom: 20px;
    }

    @include tablet {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  &-links-list {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      display: none;
      flex-direction: column;
    }
  }

  &-links-list-mobile {
    display: none;

    @include mobile {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
  }

  &-links-card {
    margin-right: 30px;

    @include tabletLarge {
      margin-right: 10px;
    }

    @include mobile {
      margin-right: 0;
      margin-bottom: 15px;
    }

    &:last-child {
      margin-right: 0;
      @include mobile {
        margin-bottom: 0;
      }
    }
  }

  &-link {
    width: 250px;
    height: 64px;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tabletLarge {
      width: 212px;
      height: 59px;
    }

    @include tablet {
      width: 170px;
      height: 45px;
      border-radius: 15px;
    }

    @include mobile {
      width: 200px;
    }
  }

  &-link--mono {
    background: linear-gradient(90deg, #272727 0.19%, #030303 64.25%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    svg {
      width: 95px;
      height: 15px;
      @include tablet {
        width: 70px;
        height: 12px;
      }
    }
  }

  &-link--privat {
    background: #6fd474;
    svg {
      width: 100px;
      height: 23px;

      @include tablet {
        width: 74px;
        height: 20px;
      }
    }
  }

  &-link--paypal {
    background: linear-gradient(90deg, #2a519a -0.1%, #113984 99.8%);
    svg {
      width: 106px;
      height: 27px;
      @include tablet {
        width: 76px;
        height: 20px;
      }
    }
  }

  &-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-card {
    border-radius: 20px;
    padding: 50px;
    background: #e7f7fc;
    width: 23.58%;
    height: 488px;
    margin-bottom: 30px;

    @include tabletLarge {
      padding: 30px;
      width: 32.1%;
      margin-bottom: 20px;
      height: 377px;
    }

    @include tablet {
      width: 48.76%;
      padding: 20px;
    }

    @include mobile {
      width: 100%;
      height: fit-content;
      margin-bottom: 15px;
      border-radius: 15px;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;

      @include tabletLarge {
        margin-bottom: 20px;
      }
    }

    &:nth-last-child(-n + 3) {
      @include tabletLarge {
        margin-bottom: 0;
      }
      @include tablet {
        margin-bottom: 20px;
      }
    }

    &:nth-last-child(-n + 2) {
      @include tablet {
        margin-bottom: 0;
      }

      @include mobile {
        margin-bottom: 15px;
      }
    }

    &:last-child {
      @include mobile {
        margin-bottom: 0;
      }
    }
  }

  &-card--empty {
    background: $wc;
    border: 2px solid $grey;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 110px;
      width: 95px;
    }
  }

  &-card__title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    color: $mc1;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    text-align: left;

    @include tabletLarge {
      font-size: 20px;
      margin-bottom: 20px;
    }

    @include tablet {
      font-size: 16px;
      margin-bottom: 15px;
    }

    @include mobile {
      margin-bottom: 0;
    }

    &::before {
      @include mobile {
        content: '';
        background-image: url(../images/arrow.svg);
        width: 25px;
        height: 25px;
        background-position: center;
        background-size: contain;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        transition: all 0.4s ease-in-out;
      }
    }

    &.is-active {
      &::before {
        @include mobile {
          content: '';
          background-image: url(../images/arrow.svg);
          width: 25px;
          height: 25px;
          background-position: center;
          background-size: contain;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }

  &-card__details-container {
    max-height: fit-content;
    transition: all 0.4s ease-in-out;

    @include mobile {
      max-height: 0;
      overflow: hidden;
    }
  }

  &-card__details {
    margin-bottom: 30px;

    @include tabletLarge {
      margin-bottom: 20px;
    }

    @include tablet {
      margin-bottom: 15px;
    }

    &:first-child {
      @include mobile {
        margin-top: 15px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    > p:last-child {
      margin-bottom: 0;
    }
  }
  &-card__details-text-container {
    padding: 0;
    margin-bottom: 10px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: all;

    &:hover .donation-card__details-text {
      color: #86c8bc;
    }

    &:hover svg {
      fill: #86c8bc;
    }

    .donation-card__details-text {
      margin-bottom: 0;
      margin-right: 10px;
    }

    svg {
      width: 19px;
      height: 19px;
      fill: #006b91;
      pointer-events: none;
      transition: all ease-in-out 0.3s;
    }
  }

  &-card__details-text {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $mc1;
    margin-bottom: 10px;
    transition: all ease-in-out 0.3s;

    @include tabletLarge {
      font-size: 14px;
    }

    @include tablet {
      font-size: 12px;
    }
  }

  &-card__details-text--bold {
    font-weight: 600;
  }
}
