.news {
  padding-top: 210px;

  @include tabletLarge {
    padding-top: 150px;
  }

  @include tablet {
    padding-top: 40px;
  }

  @include mobile {
    padding-top: 50px;
  }
  &-container {
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &-title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 120%;
    text-transform: uppercase;
    color: $mc1;

    @include tabletLarge {
      font-size: 54px;
    }

    @include tablet {
      font-size: 44px;
    }

    @include mobile {
      font-size: 36px;
      width: 65%;
    }
  }

  &-slider__ctr {
  }

  &-slider__arrow {
    width: 32px;
    height: 34px;

    svg {
      width: 32px;
      height: 34px;

      @include mobile {
        width: 23.3px;
        height: 25px;
      }
    }
  }

  &-slider-prev {
    margin-right: 30px;

    @include mobile {
      margin-right: 20px;
    }
  }

  &-slider-next {
    svg {
      transform: rotate(180deg);
    }
  }

  &-slider {
  }

  &-slider__item {
    padding: 30px;
    border: 2px solid $grey;
    border-radius: 20px;

    @include tabletLarge {
      padding: 20px;
    }

    @include tablet {
      padding: 15px;
    }
  }

  &-slider__img {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    height: 300px;

    @include tabletLarge {
      height: 200px;
      margin-bottom: 20px;
    }

    @include tablet {
      height: 175px;
      margin-bottom: 15px;
    }

    @include mobile {
      height: 155px;
    }

    img {
      object-fit: cover;
      height: 300px;

      @include tabletLarge {
        height: 200px;
      }

      @include tablet {
        height: 175px;
      }

      @include mobile {
        height: 155px;
      }
    }
  }

  &-slider-text {
    height: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 30px;
  }

  &-slider__title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    color: $mc1;
    margin-bottom: 20px;

    @include tabletLarge {
      font-size: 20px;
      margin-bottom: 10px;
    }

    @include tablet {
      font-size: 16px;
    }
  }

  &-slider__description {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $mc2;
    margin-bottom: 30px;

    @include tabletLarge {
      font-size: 16px;
      margin-bottom: 10px;
    }

    @include tablet {
      font-size: 14px;
    }
  }

  &-slider__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 70%;
    background-color: #86c8bc;
    text-decoration: none;
    font-family: $default-font;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: $mc1;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;

    @include tabletLarge {
      height: 56px;
      font-size: 18px;
    }

    @include tablet {
      height: 45px;
      font-size: 16px;
      border-radius: 15px;
    }

    &:hover {
      background-color: $wc;
      border: 1px solid #86c8bc;
    }
  }
}
