.numbers {

  margin-top: 50px;

  &-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  &-card {
    width: calc(33.3% - 6.6px);
    padding: 30px 50px;
    border-radius: 20px;
    border: 2px solid $grey;
    height: 400px;
    position: relative;
    overflow: hidden;
    @include tabletLarge {
      padding: 30px;
      height: 350px;
      width: calc(50% - 5px);
    }

    @include tablet {
      padding: 20px;
    }

    @include mobile {
      width: 100%;
      height: fit-content;
    }
  }

  

  &-card--colored {
    background: $mc1;
    border: none;

    .numbers-card__title {
      color: #fff;
    }

    .numbers-card__descr {
      color: #fff;
    }
  }

  // &-card--large-text {

  //     @include mobile {
  //         margin-top: 5px;
  //     }

  // }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 70%;
    background-color: $mc1;
    text-decoration: none;
    font-family: $default-font;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    border-radius: 20px;
    margin-top: 30px;
    transition: all ease-in-out 0.3s;

    &:hover {
      background-color: $wc;
      border: 1px solid #86c8bc;
    }

    @include tabletLarge {
      height: 56px;
      width: 210px;
    }

    @include tablet {
      height: 45px;
      width: 170px;
      font-size: 16px;
      border-radius: 15px;
    }

    @include mobile {
      margin-top: 15px;
    }
  }

  &-img {
    position: absolute;
    width: 115px;
    height: 120px;
    bottom: 0;
    right: 50px;

    @include tabletLarge {
      width: 84px;
      height: 90px;
      right: 30px;
    }

    @include tablet {
      width: 65px;
      height: 70px;
      right: 20px;
    }
  }

  &-card__title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 120%;
    text-transform: uppercase;
    color: $mc1;
    margin-bottom: 30px;

    @include tabletLarge {
      font-size: 54px;
      margin-bottom: 20px;
    }

    @include tablet {
      font-size: 44px;
      margin-bottom: 15px;
    }

    @include mobile {
      font-size: 36px;
    }
  }

  &-card__descr {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $mc2;

    @include tabletLarge {
      font-size: 16px;
    }

    @include tablet {
      font-size: 14px;
    }
  }

  &-img--first {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: auto;
  }

  &-img--middle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }

  &-img--last {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 100%;
  }
}
