.sale-main {
  display: flex;

  &__list {
    display: flex;
    width: 100%;
    @include mobile {
      flex-direction: column;
    }
  }
}

.sale-card {
  width: 33.33333%;
  height: 100%;
  position: relative;
  @include mobile {
    width: 100%;
  } 
  & img {
    object-fit: cover;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 100%;
    transition: ease-in 0.3s;
  }
  &:hover .sale-card__bg {
    opacity: 1;
  }

  &__text{
    width: 70%;
    height: 100%;
    padding: 68px 30px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(35px);
    @include tabletLarge {
      padding: 20px;      
    }
    @include tablet {
      width: 100%;
      padding: 10px;
      
    }
    @include mobile {
      width: 70%;  
      padding: 20px; 
    }
    
  } 
  &__title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: $wc;
    margin-bottom: 20px;
    @include tabletLarge {
      font-size: 18px;   
    }
    @include tablet {
      font-size: 12px;
      margin-bottom: 15px;     
    }
    @include mobile {
      font-size: 15px; 
      margin-bottom: 30px;   
    }
  }

  &__descr {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #E0E0E0;
    @include tabletLarge {
      font-size: 15px;   
    }
    @include tablet {
      font-size: 10px;
      
    }
    @include mobile {
      font-size: 12px;
    }
  }

  &__btn {
    margin-top: 50px;
    @include tabletLarge {
      margin-top: 30px;
    }
    @include tablet {
      margin-top: 15px;
      
    }
    @include mobile {
      margin-top: 30px;
      
    }
  }
}
