.standard-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

.standard-btn:hover .btn-circle svg{
    stroke-dasharray: 50px 0px;
}

.standard-btn:hover .btn-arrow::before{
    width: 0;
}
.standard-btn:hover .btn-arrow svg{
    transform: scale(1.3);
}

.btn-link {
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 15px;
    text-transform: uppercase;
    color: #0E0E0E;
    display: flex;
    align-items: center;
    @include tabletLarge {
        font-size: 12px;
    }
}

.btn-svg {
    position: relative;
    margin-left: 40px;
    @include tabletLarge {
        margin-left: 30px;
    }
}

.btn-arrow {
    position: absolute;
    top: 50%;
    right: 40%;
    transform: translateY(-50%);
    transition: ease-in-out 0.7s;
    height: 6px;
    display: flex;
    align-items: center;
    @include tabletLarge {
        right: 15px;
    }
    &::before {
        content: '';
        width: 35px;
        height: 1px;
        background-color: $bTitle;
        transition: width ease-in 0.3s;
        @include tabletLarge {
            width: 25px;
        }
    }
    
}

.btn-arrow svg{
    max-width: 10px;
    height: 10px;
    fill: $bTitle;
    transition: all ease-in-out 0.4s;
    
    @include tabletLarge {
        max-width: 5px;
        height: 6px;
    }
}

.btn-circle {
    height: 60px;
    @include tabletLarge {
        height: 40px;
    }
}

.btn-circle svg{
    max-width: 59px;
    height: 60px;
    fill: none;
    stroke: $bTitle;
    stroke-width: 0.5px;
    stroke-dasharray: 39px 23px;
    transition: all ease-in-out 0.4s;
    @include tabletLarge {
        max-width: 36px;
        height: 40px;
    }
}

#icon-animated-arrow .animated-line{
    fill: $bTitle;
    stroke-width: 0.35px;
    width: 10px;
}

