.standard-btn {
    position: relative;
    display: flex;
    align-items: center;
}

.standard-btn:hover .btn-arrow{
    transform: translateX(0);

}

.btn-link {
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 15px;
    text-transform: uppercase;
    color: #0E0E0E;
    margin-right: 40px;
    @include tabletLarge {
        font-size: 12px;
        margin-right: 30px;
    }
}

.btn-svg {
    position: relative;
}

.btn-arrow {
    position: absolute;
    top: 34%;
    transform: translateX(-50%);
    transition: ease-in-out 0.7s;
    @include tabletLarge {
        top: 22%;
    }
}

.btn-arrow svg{
    max-width: 50px;
    height: 10px;
    
    @include tabletLarge {
        max-width: 34px;
        height: 6px;
    }
}

.btn-circle {
    height: 60px;
    @include tabletLarge {
        height: 40px;
    }
}

.btn-circle svg{
    max-width: 50px;
    height: 60px;
    @include tabletLarge {
        max-width: 36px;
        height: 40px;
    }
}
