.visual-main {
    background-image: url(/src/assets/images/pattern-white.png);
    background-position: center;
    display: flex;
    justify-content: center;
    height: 100vh;

    &__inner {
        max-width: 2000px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        width: 50%;
        height: 100%;
    }

    &__left img{
        height: 100%;
    }

    &__right {
        width: 50%;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    &__right-top {
        height: 65%;
        max-width: 65%;
        padding-left: 99px;
        padding-top: 80px;
        padding-bottom: 79px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__right-header{
        font-family: $default-font;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 110%;
        color: $bc;
        margin-bottom: 20px;

    }

    &__right-line {
        width: 20px;
        height: 0;
        border-bottom: 2px solid $bc;
        margin-bottom: 30px;
    }

    &__right-descr {
        font-family: $default-font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: $textGrey;
        margin-bottom: 40px;
    }

    &__right-bottom {
        background-color: #F0F0F0;
        position: relative;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 35%;
        padding-top: 80px;
        padding-left: 99px;
    }

    &__right-quote {
        position: relative;
        max-width: 50%;
        margin-bottom: 40px;
    }

    &__right-commas {
        position: absolute;
        transform: translate(-50%, -50%);
        max-width: 130px;
        z-index: 4;
    }

    &__right-text{
        position: relative;
        font-family: $default-font;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: $grey;
        z-index: 5;
    }

    &__right-name{
        font-family: $default-font;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 120%;
        color: $grey2;
    }

    %__right-position {
        font-family: $default-font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: $grey2;

    }

    &__signature {
        position: absolute;
        bottom: 15%;
        right: 45%;
        max-width: 98px;

    }

    &__photo-owner{
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 382px;
    }


}