section.answers-main 
  .answers-main-left
    h3.answers-title Відповіді на найбільш поширені запитання
    .answers-slider
      .answers-slider__wrp.swiper-wrapper 
        .answers-slider__item.swiper-slide 
          .answers__item
            p.answers__item-title Як перевірити надійність забудовника? 
            p.answers__item-descr Протягом однієї хвилини на Ваш мобільний прийде повідомлення. Щоб ми Вас зайвий раз не турбували, — оберіть в цьому повідомленні зручний для себе день та час, коли Вам буде зручно розмовляти з нашим менеджером. Розстрочка можлива до 24 місяців с першим внеском не менше 50% .  
        .answers-slider__item.swiper-slide 
          .answers__item
            p.answers__item-title Як перевірити надійність забудовника? 
            p.answers__item-descr Протягом однієї хвилини на Ваш мобільний прийде повідомлення. Щоб ми Вас зайвий раз не турбували, — оберіть в цьому повідомленні зручний для себе день та час, коли Вам буде зручно розмовляти з нашим менеджером. Розстрочка можлива до 24 місяців с першим внеском не менше 50% .   
        .answers-slider__item.swiper-slide    
          .answers__item
            p.answers__item-title Як перевірити надійність забудовника? 
            p.answers__item-descr Протягом однієї хвилини на Ваш мобільний прийде повідомлення. Щоб ми Вас зайвий раз не турбували, — оберіть в цьому повідомленні зручний для себе день та час, коли Вам буде зручно розмовляти з нашим менеджером. Розстрочка можлива до 24 місяців с першим внеском не менше 50% .    
      .answers-slider__ctr
        .answers-slider__arrows
          button.answers-slider__arrow.answers-slider-prev
            span.icon-font
              +svg('swiper-up').icon.icon-arrow-left
          button.answers-slider__arrow.answers-slider-next
            span.icon-font
              +svg('swiper-down').icon.icon-arrow-right
    .standard-btn.answers-btn
      a(href="documents.html").btn-link.answers-link Документи
      .btn-svg
        .btn-arrow
          +svg('arrow')
        .btn-circle
          +svg('circle')
  .answers-main-right
    img(src="assets/images/answers-bg.png", alt="")
  .answers-decoration 
    img(src="assets/images/full-leaf-white.png", alt="")
