section.details 
  .details__inner
    .details-header.container
      h3.details-header__title Житловий комплекс, продуманий до найменших деталей
      .details-header__quote
        img(src="/src/assets/images/commas.png", alt="").details-header__quote-commas
        p.details-header__quote-descr