section.details 
  .details__inner
    .details-header.container
      h3.details-header__title Житловий комплекс, продуманий до найменших деталей
      .details-header__quote
        img(src="assets/images/commas.png", alt="").details-header__quote-commas
        p.details-header__quote-descr “ Наша головна цінність - це бути у шаленому і швидкому ритмі сучасного міського життя , бо ми майже не маємо вільного часу для занять спортом та якісної підтримки здоров’я “
    .details-list
      .details-card 
        .details-card-img  
          img(src="assets/images/details1.png", alt="")
        .detsils-card-inner
          h3.details-card-title Зона відпочинку та барбекю
      .details-card 
        .details-card-img  
          img(src="assets/images/details2.png", alt="")
        .detsils-card-inner
          h3.details-card-title Місця для вигулу собак
      .details-card 
        .details-card-img  
          img(src="assets/images/details3.png", alt="")
        .detsils-card-inner
          h3.details-card-title Безпека - повністю закрите містечко
          p.details-card-description У шаленому і швидкому ритмі сучасного міського життя  ми майже не маємо вільного часу для занять спортом та якісної підтримки здоров’я. У шаленому і швидкому ритмі сучасного міського життя  ми майже не маємо вільного часу для занять спортом та якісної підтримки здоров’я. 
      .details-card 
        .details-card-img  
          img(src="assets/images/details4.png", alt="")
        .detsils-card-inner
          h3.details-card-title Бігові та велодоріжки
      .details-card 
        .details-card-img  
          img(src="assets/images/details5.png", alt="")
        .detsils-card-inner
          h3.details-card-title Сервіс для автовласників
          p.details-card-description У шаленому і швидкому ритмі сучасного міського життя  ми майже не маємо вільного часу для занять спортом та якісної підтримки здоров’я. У шаленому і швидкому ритмі сучасного міського життя  ми майже не маємо вільного часу для занять спортом та якісної підтримки здоров’я. 
      .details-card 
        .details-card-img  
          img(src="assets/images/details6.png", alt="")
        .detsils-card-inner
          h3.details-card-title Розвинута інфраструктура
