section.development-progress
  .development-progress__inner.container
    .development-line  
      .development-line__inner    
        span.development-line__mounth Березень 2022
        .development-line__circles-wrap
          .development-line__circle1
            .development-line__circle2
              .development-line__circle3
        span.development-line__descr Початок будівництва l черги
      .development-line__inner     
        span.development-line__mounth Вересень 2022
        .development-line__circles-wrap
          .development-line__circle1
            .development-line__circle2
              .development-line__circle3
        span.development-line__descr Благоустрій території
      .development-line__inner     
        span.development-line__mounth Лютий 2023
        .development-line__circles-wrap
          .development-line__circle1
            .development-line__circle2
              .development-line__circle3
        span.development-line__descr Початок будівництва ll черги 
      .development-line__inner     
        span.development-line__mounth Квітень 2023
        .development-line__circles-wrap
          .development-line__circle1
            .development-line__circle2
              .development-line__circle3
        span.development-line__descr Початок будівництва lll черги   
      .development-line__inner    
        span.development-line__mounth Серпень 2023
        .development-line__circles-wrap
          .development-line__circle1
            .development-line__circle2
              .development-line__circle3
        span.development-line__descr Здано в експлуатацію   
      .development-line__dashed-line1 
      .development-line__dashed-line2
      .development-line__animated-leaf 
        +svg('leaf')