footer.footer
  .footer-bottom
    .footer-bottom__inner.container
      .footer-bottom-block
        .footer-right 
          .footer-email 
            a(href="mailto:ecotm3757@gmail.com") ecotm3757@gmail.com
          .footer-phone 
            a(href="tel:+380671643757") +38(067)164-37-57
          .footer-social
            a(href='fb').footer-social-link.social-fb
              +svg('fb')
            a(href='instagram').footer-social-link.social-instagram
              +svg('instagram')
            a(href='fb').footer-social-link.social-youtube
              +svg('youtube')
            a(href='fb').footer-social-link.social-telegram
              +svg('telegram')
        .footer-links 
          a(href="#") Головна
          a(href="index.html#about") Про продукт
          a(href="index.html#about") Інновації
          a(href="index.html#numbers") Опис
          a(href="index.html#questions") FAQ
          a(href="index.html#documents") Документи
          a(href="index.html#development-video") Відео
        .footer-up 
          a(href="#")
            +svg ('arrow-top')
      .footer-bottom-additional
        p.footer-copy ©2023 “EKO TM”, м.Київ, пр.П.Григоренка 1а, оф.154
        .footer-dev
