section.home-main
    .home-main__inner.container
        .main-bottom
            .main-bottom__social
                span.main-bottom__social-descr social media
                a.main-bottom__social-link(href="#" target="_blank")
                    +svg('facebook') 
                a.main-bottom__social-link(href="#" target="_blank")
                    +svg('instagram')
                .main-bottom__social-line
            .main-bottom__descr
                h1.main-bottom__descr-title Котеджне селище в Романкові 7 км від Києва
                p.main-bottom__descr-text У шаленому і швидкому ритмі сучасного міського життя  ми майже не маємо вільного часу для занять спортом та якісної підтримки здоров’я.  
                .main-bottom__descr-figure
            .main-bottom__langs
                a.main-bottom__langs-switch UA
                a.main-bottom__langs-switch RU
                .main-bottom__langs-line
