section.sale-main 
  .sale-main__list
    .sale-card__top 
      .sale-card__top-img
        img(src="assets/images/banner-1.png", alt="")
      .sale-card__top-inner
        h3.sale-card__top-header Чорна п’ятниця вже настала у Romankiv Village
        .sale-card__top-figures
          .sale-card__top-pattern 
            img(src="assets/images/pattern-hor.png", alt="")
          .sale-card__top-logo
            +svg('logo')
    .sale-card__center 
      .sale-card__center-img
        img(src="assets/images/banner-2.png", alt="")
      .sale-card__center-inner
        .sale-card__center-logo
          +svg('logo')
        h3.sale-card__center-header Котеджне селище в Романкові 7 км від Києва
        .sale-card__center-contacts 
          span пгт. Романків, 21
          span + 38 (095) 748 32 92 
    .sale-card__left
      .sale-card__left-img
        img(src="assets/images/banner-3.png", alt="")
      .sale-card__left-inner
        .sale-card__left-logo
          +svg('logo')
        .sale-card__left-content
          .sale-card__left-text
            h3.sale-card__left-header Чорна п’ятниця вже настала у Romankiv Village
            p.sale-card__left-descr Телефонуй 092 292 29 92 та отримуй більше
          .sale-card__left-figure 
            img(src="assets/images/keys-and-room.png", alt="")
    

      

