section.visual-main 
  .visual-main__inner
    .visual-main__left
      img(src="assets/images/placeholder-for-3d.png", alt="") 
    .visual-main__right
      .visual-main__right-top
        h3.visual-main__right-header Обирайте свій дім з унікальною локацією
        .visual-main__right-line
        p.visual-main__right-descr У шаленому і швидкому ритмі сучасного міського життя  ми майже не маємо вільного часу для занять спортом та якісної підтримки. У шаленому і швидкому ритмі сучасного міського життя  ми майже не маємо вільного часу
        .standard-btn.visual-btn
          a.btn-link Обрати будинок
          .btn-svg
            .btn-arrow
              +svg ('arrow')
            .btn-circle
              +svg ('circle')
      .visual-main__right-bottom
        .visual-main__right-quote
          img(src="assets/images/commas.png", alt="").visual-main__right-commas
          p.visual-main__right-text “ Наша головна цінність - це бути у шаленому і швидкому ритмі сучасного міського життя , бо ми майже не маємо вільного часу для занять спортом та якісної підтримки здоров’я “
        span.visual-main__right-name Александр Петров 
        span.visual-main__right-position директор
        
        img(src="assets/images/signature.png", alt="").visual-main__signature 
        img(src="assets/images/owner.png", alt="").visual-main__photo-owner
