
extends ../layout/main
block variable
  -
    var title_page = 'documents'
    var id_page = 'id-page-documents'
    var class_page = 'class-page-documents'
    var breadcrumbsSubitem = [
      {
        label: 'Документи',
        link: pagesLink[0].documents
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/documents.js')
block header
  include ../includes/header.pug
block content
  section.documents
    .documents-left
      include ../includes/breadcrumbs.pug
      h1.documents-title Документи 
      .standard-btn.documents-btn
        a(href="#").btn-link.documents-link Відповіді на найбільш <br> поширені запитання
        .btn-svg
          .btn-arrow
            +svg ('arrow-white')
          .btn-circle
            +svg ('circle-white')
    .documents-right 
      .documents-item
        iframe(width='65', height='90', src='http://www.africau.edu/images/default/sample.pdf')
        .documents-text
          span.documents-date 10.01.2022
          span.documents-text-title Лiцензiя Г. П. Командор ( повiдомлення, перелiк робiт, Витяг iз сайту ДАБI )
        .standard-btn.download-btn
            a(href="#").btn-link.download-link Завантажити
            .btn-svg
              .btn-arrow
                +svg ('arrow-docs')
              .btn-circle
                +svg ('circle-docs') 
      .documents-item
        iframe(width='65', height='90', src='http://www.africau.edu/images/default/sample.pdf')
        .documents-text
          span.documents-date 10.01.2022
          span.documents-text-title Декларація про початок будівельних робіт у жк від 20.12.2018
        .standard-btn.download-btn
            a(href="#").btn-link.download-link Завантажити
            .btn-svg
              .btn-arrow
                +svg ('arrow-docs')
              .btn-circle
                +svg ('circle-docs') 
      .documents-item
        iframe(width='65', height='90', src='http://www.africau.edu/images/default/sample.pdf')
        .documents-text
          span.documents-date 10.01.2022
          span.documents-text-title 2020-11-26 ГП Цедика 14А Стадия П - КОРРЕКТ-2 ГП
        .standard-btn.download-btn
            a(href="#").btn-link.download-link Завантажити
            .btn-svg
              .btn-arrow
                +svg ('arrow-docs')
              .btn-circle
                +svg ('circle-docs')  
      .documents-item
        iframe(width='65', height='90', src='http://www.africau.edu/images/default/sample.pdf')
        .documents-text
          span.documents-date 10.01.2022
          span.documents-text-title Разрешение на строительство ІУ013210208238
        .standard-btn.download-btn
            a(href="#").btn-link.download-link Завантажити
            .btn-svg
              .btn-arrow
                +svg ('arrow-docs')
              .btn-circle
                +svg ('circle-docs') 
      .documents-item
        iframe(width='65', height='90', src='http://www.africau.edu/images/default/sample.pdf')
        .documents-text
          span.documents-date 10.01.2022
          span.documents-text-title Лiцензiя Г. П. Командор ( повiдомлення, перелiк робiт, Витяг iз сайту ДАБI )
        .standard-btn.download-btn
            a(href="#").btn-link.download-link Завантажити
            .btn-svg
              .btn-arrow
                +svg ('arrow-docs')
              .btn-circle
                +svg ('circle-docs')          
block footer
  include ../includes/footer.pug
