
extends ../layout/main
block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts

  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/homepage.bundle.js')
  //- script.map-script(defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBc_rcO6jcFuCN8AJ9EZLlXENtUDSAcuiw&ver=1655409542')
  
  

block header
  include ../includes/header.pug
  include ../includes/menu.pug
block content
  include ../includes/homepage/home-main.pug
  include ../includes/homepage/trusted-main.pug
  include ../includes/homepage/sale-main.pug
  include ../includes/homepage/location-main.pug
  include ../includes/homepage/maps-main.pug
  include ../includes/homepage/visual-main.pug
  include ../includes/homepage/development-video.pug
  include ../includes/homepage/development-progress.pug
  include ../includes/homepage/details-main.pug
  include ../includes/homepage/conditions-main.pug
  include ../includes/homepage/questions-main.pug
  include ../includes/homepage/news-main.pug
  include ../includes/homepage/answers-main.pug
  

block modal 
  include ../includes/questions-popup.pug
  include ../includes/form-popup.pug
  include ../includes/calculator.pug
  include ../includes/construction-gallery.pug
  include ../includes/form-popup-call.pug
  

  

block footer
  include ../includes/footer.pug


