
extends ../layout/main
block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')

block header
  include ../includes/header.pug
block content
  include ../includes/home-main.pug
  include ../includes/trusted-main.pug
  include ../includes/sale-main.pug
  include ../includes/location-main.pug
  include ../includes/visual-main.pug
  include ../includes/development-progress.pug
  include ../includes/details-main.pug
  



block footer
  include ../includes/footer.pug


