
extends ../pages/news
block variable
  -
    var title_page = 'news-single-page'
    var id_page = 'id-page-news-single-page'
    var class_page = 'class-page-news-single-page'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/news-single-page.js')
block header
  include ../includes/header.pug
block content
  section.single-news
    .single-news-left
      include ../includes/breadcrumbs.pug
      h1.single-news-title Чорна п’ятниця! Реальні знижки до 60 000 грн 
      .single-news-intro  
        p.single-news-descr Romankiv Village розташований по вул. Чудовій, у спальному районі, який має розвинену інфраструктуру і продовжує активно розростатися. Комплекс створений для тих, хто хоче комфорту і спокою. До центру міста – лише 3 км. Для власників приватного транспорту на території комплексу передбачений наземний багаторівневий паркінг.
        p.single-news-descr В комплексі запроектовано великий внутрішній двір. Його площа становить близько 2 га. Більшість забудовників на такій ділянці побудували б ще понад 300 квартир, але наша будівельна компанія ставить собі за мету продавати не квадратні метри, а комфортне середовище і завоювати серця клієнтів не кількістю, а якістю.
        p.single-news-descr Тому у внутрішньому дворі облаштовують локації для ігор та відпочинку  для різних вікових категорій мешканців.
        .standard-btn.single-news-btn
          a(href="#").btn-link.news-btn-link Обрати будинок
          .btn-svg
            .btn-arrow
              +svg ('arrow-white')
            .btn-circle
              +svg ('circle-white')
    .single-news-right 
      img(src="assets/images/single-news.png", alt="")
block footer
  include ../includes/footer.pug
