@font-face {
    font-family: 'NotoSans-Regular';
    src:url('../../fonts/NatoSans-Regular/NotoSans-Regular.woff') format('woff'),
        url('../../fonts/NatoSans-Regular/NotoSans-Regular.woff2') format('woff2'),
        url('../../fonts/NatoSans-Regular/NotoSans-Regular.svg#NotoSans-Regular') format('svg'),
        url('../../fonts/NatoSans-Regular/NotoSans-Regular.eot'),
        url('../../fonts/NatoSans-Regular/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/NatoSans-Regular/NotoSans-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}