.container {
    width: 2000px;
    padding: 0 110px;
    margin: 0 auto;

    @include desktop {
        max-width: 1440px;
    }

    @include tabletLarge {
        max-width: 992px;
    }

    @include tablet {
        max-width: 767px;
    }

    @include mobile {
        max-width: 576px;
    }       
}