.container {
  padding: 0 20px;
  margin: 0 auto;

  @include tabletLarge {
    padding: 0 20px;
  }

  @include tablet {
    padding: 0 10px;
  }

 
}

button {
  border: none;
  background-color: inherit;
}
