$default-font: "gilroy",
sans-serif;
$default-font2: "montser",
sans-serif;

$mc1: #283013;
$mc2: #8CB90C;
$textGrey: #676863;
$textLight: #9A9F8C;
$wc: #fff;
$bc: #000;
$adCol: #CECECE;
$lightGrey: #E0E0E0;

$mc: #1A2941;
$bg: #FAFAFA;
$light: #FCFCFC;
$dark: #1A2941;
$gold: #CFA46E;
:root {
  --in: cubic-bezier(0.13, 0.81, 0.23, 0.96);
  --header-h: 80px;
  --logo-w: 160px;
  --sliceFigure: 239px;
  --sliceFigure-big: 541px;
}

@media screen and (max-width: 1440px){
  :root {
    --header-h: 80px;
    --logo-w: 120px;
    --sliceFigure-big: 362px;
  }
}
@media screen and (max-width: 992px){
  :root {
    --header-h: 110px;
    --logo-w: 90px;
    --sliceFigure-big: 44px;
  }
}
@media screen and (max-width: 576px){
  :root {
    --header-h: 70px;
    --sliceFigure: 100px;
    --sliceFigure-big: 100px;
  }
}
